<h1>Your Poll:</h1>



	<strong>Name: </strong><%= @poll.name %><br>

	<strong>Opens On: </strong><%= @poll.start_date %><br>

	<strong>Closes On: </strong><%= @poll.end_date %><br>

	<strong>Unique URL: </strong> http://localhost:3000/polls/<%= @poll.url %><br>


<% @poll.books.each do |book|%>
	<%= book.title %><br>
<% end %>

<%= link_to "Add more books", books_path %>

	<%= form_tag("/guests/new", method: "get") do %>
	  <%= submit_tag("Vote Now") %>
<% end %>