<h1>Your Poll:</h1>



	<strong>Name: </strong><%= @poll.name %><br>

	<strong>Opens On: </strong><%= @poll.start_date %><br>

	<strong>Closes On: </strong><%= @poll.end_date %><br>

	<strong>Unique URL: </strong><%= @poll.url %><br>

	<%= form_tag("/guests/new", method: "get") do %>
	  <%= submit_tag("Vote Now") %>
<% end %>

Need: list of books saved to poll

<h2> NEED: Finish button to generate unique url for guests, add more button (w/ authorization logic to check if current_user is poll.user</h2>