<div class="table_body">
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Remove from Saved Books</th>
        <th>Add to Poll</th>
    </thead>
    <tbody>
      <% @savedbooks.each do |book| %>
      <tr>
        <td><%= link_to book[:title], books_details_path(book[:book_id]) %></td>
        <td><%= book[:author] %></td>
        <td><%= link_to "delete", delete_book_path(book), method: :delete, data: { confirm: "You sure?" } , :class => "btn btn-danger btn-xs" %></td>
        
        <td><%= form_tag('/polls/add') do %>
              <%= hidden_field_tag :book_id, book[:book_id] %>

              <%= submit_tag "Add to Poll", :class => "btn btn-primary btn-xs" %>
            <% end %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>