<h1>Book Details</h1>

<br>

<div class="details">
	<p><img src="<%= @img_url %>"/></p>
	<p><strong>Title: </strong><%= @title %></p>
	<p><strong>Author: </strong><%= @author %></p>
	<p><strong>Goodreads ID: </strong> <%= @book_id %></p>
	<p><strong>Average Rating on Goodreads:</strong> <%= @avg_rating %>
	<p><strong>Link:</strong> <%= link_to @link, link_path(@link) %> </p>
</div>

<%= form_for @book, :url => {:controller => 'books', :action => 'create', :id => @book_id }	do |f| %>
	<%= f.hidden_field :title, :value => @title %>
	<%= f.hidden_field :author, :value => @author %>
	<%= f.hidden_field :img_url, :value => @img_url %>
	<%= f.hidden_field :avg_rating, :value => @reviews %>
	<%= f.hidden_field :book_id, :value => @book_id %>
	<%= f.hidden_field :link, :value => @book_id %>
	<%= f.submit 'save', :class => "btn btn-primary btn-xs" %>

<% end %>


<%= link_to "View all Saved Books", books_path %>
<br>

<%= link_to "Search Books", books_search_path %>
